<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .content {
  display: none;
  margin-left: 200px;
  padding: 15px;
  z-index: 2;
  position: relative;
}

    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidenav a {
      padding: 8px 8px 8px 16px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .content {
      display: none;
      margin-left: 200px;
      padding: 15px;
    }

    /* Add the custom CSS style here */
    .custom-checkbox input[type="checkbox"] {
      opacity: 1;
    }

    .card-link {
            text-decoration: none;
            color: inherit;
        }
        .card-link:hover .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="#">SOLARIS T6</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/crewdashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/userchat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

</head>



        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">{{user.firstName}} {{user.middleName}} {{user.lastName}}</h5>
                        
                        <button class="btn btn-primary" {{#if user.finished}}disabled{{/if}} onclick="location.href='/crewPhotoDocumentation/{{user.emailAddress}}'">Photo Documentation</button>
                        <button class="btn btn-secondary" {{#if user.finished}}disabled{{/if}} onclick="location.href='/crewImageUpload/{{user.emailAddress}}'">Image Upload</button>
                        <button class="btn btn-success" {{#if user.finished}}disabled{{/if}} onclick="location.href='/crewApprove/{{user.emailAddress}}'">Approve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


